<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://activemq.apache.org/schema/core
                           http://activemq.apache.org/schema/core/activemq-core-5.13.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd
                           http://www.springframework.org/schema/jms
                           http://www.springframework.org/schema/jms/spring-jms-4.2.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">


    <bean class="org.apache.activemq.ActiveMQConnectionFactory"
          id="activeMQConnectionFactory">
        <constructor-arg value="tcp://localhost:61616"/>
    </bean>

    <bean class="org.springframework.jms.connection.CachingConnectionFactory"
          id="cachingConnectionFactory">
        <constructor-arg ref="activeMQConnectionFactory"/>
    </bean>

    <bean class="investigations.activemq.Consumer"
          id="consumer"/>

    <bean class="org.springframework.jms.listener.SimpleMessageListenerContainer"
          id="messageListenerContainer">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="destinationName" value="investQueue"/>
        <property name="messageListener" ref="consumer"/>
    </bean>

</beans>
